<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="GGram.presentation.GGramModelWizardID"
            name="%_UI_GGramModelWizard_label"
            class="GGram.presentation.GGramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GGramModelFile.gif">
         <description>%_UI_GGramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="GGram.presentation.GGramEditorID"
            name="%_UI_GGramEditor_label"
            icon="icons/full/obj16/GGramModelFile.gif"
            extensions="ggram"
            class="GGram.presentation.GGramEditor"
            contributorClass="GGram.presentation.GGramActionBarContributor">
      </editor>
   </extension>

</plugin>
