<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="ggram_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="ggram_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="GGram.diagram.part.GGramDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/GGramDiagramFile.gif"
         extensions="ggram_diagram"
         default="true"
         class="GGram.diagram.part.GGramDiagramEditor"
         matchingStrategy="GGram.diagram.part.GGramMatchingStrategy"
         contributorClass="GGram.diagram.part.GGramDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="GGram.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/GGramDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="GGram.diagram.part.GGramCreationWizard"
  	     id="GGram.diagram.part.GGramCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="GGram.diagram.InitDiagram"
            nameFilter="*.ggram"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="GGram.diagram.part.GGramInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="GGram.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="GGramPresentation">
         <Priority name="Lowest"/>
         <ViewId id="GGram.diagram.part.GGramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="GGramPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="GGram.diagram.part.GGramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="GGramRender">
         <Priority name="Lowest"/>
         <ViewId id="GGram.diagram.part.GGramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="GGram.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="GGram.diagram.general"
            name="%prefpage.GGram.diagram.general"
            class="GGram.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="GGram.diagram.appearance"
            name="%prefpage.GGram.diagram.appearance"
            category="GGram.diagram.general"
            class="GGram.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="GGram.diagram.connections"
            name="%prefpage.GGram.diagram.connections"
            category="GGram.diagram.general"
            class="GGram.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="GGram.diagram.printing"
            name="%prefpage.GGram.diagram.printing"
            category="GGram.diagram.general"
            class="GGram.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="GGram.diagram.rulersAndGrid"
            name="%prefpage.GGram.diagram.rulersAndGrid"
            category="GGram.diagram.general"
            class="GGram.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="GGram.diagram"
            labelProvider="GGram.diagram.sheet.GGramSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="GGram.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="GGram.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="GGram.diagram.sheet.GGramPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="GGram.diagram.providers.GGramViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="GGram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004,4005,4006,4007,4008,4009,4010"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="GGram.diagram.providers.GGramEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="GGram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004,4005,4006,4007,4008,4009,4010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5003,5004,5005,5002,5006,5007,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="GGram.diagram.providers.GGramModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="GGram.diagram.edit.parts.GenogramEditPart" id="Genogram_1000"/>
         <object class="GGram.diagram.edit.parts.WomanEditPart" id="Woman_2001"/>
         <object class="GGram.diagram.edit.parts.ManEditPart" id="Man_2002"/>
         <context elements="Genogram_1000,Woman_2001,Man_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="GGram.diagram.providers.GGramIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="GGram.diagram.providers.GGramParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Genogram_1000"
               name="%metatype.name.Genogram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Genogram"
               edithelper="GGram.diagram.edit.helpers.GenogramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Woman_2001"
               name="%metatype.name.Woman_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Woman"
               edithelper="GGram.diagram.edit.helpers.WomanEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Man_2002"
               name="%metatype.name.Man_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Man"
               edithelper="GGram.diagram.edit.helpers.ManEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Engagement_4001"
               name="%metatype.name.Engagement_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Engagement"
               edithelper="GGram.diagram.edit.helpers.EngagementEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.HasChild_4002"
               name="%metatype.name.HasChild_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HasChild"
               edithelper="GGram.diagram.edit.helpers.HasChildEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Cohabitation_4003"
               name="%metatype.name.Cohabitation_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Cohabitation"
               edithelper="GGram.diagram.edit.helpers.CohabitationEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.CohabitationAndSeparation_4004"
               name="%metatype.name.CohabitationAndSeparation_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CohabitationAndSeparation"
               edithelper="GGram.diagram.edit.helpers.CohabitationAndSeparationEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Marriage_4005"
               name="%metatype.name.Marriage_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Marriage"
               edithelper="GGram.diagram.edit.helpers.MarriageEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.LoveAffair_4006"
               name="%metatype.name.LoveAffair_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LoveAffair"
               edithelper="GGram.diagram.edit.helpers.LoveAffairEditHelper">
            <param name="semanticHint" value="4006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Nullity_4007"
               name="%metatype.name.Nullity_4007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Nullity"
               edithelper="GGram.diagram.edit.helpers.NullityEditHelper">
            <param name="semanticHint" value="4007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Divorce_4008"
               name="%metatype.name.Divorce_4008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Divorce"
               edithelper="GGram.diagram.edit.helpers.DivorceEditHelper">
            <param name="semanticHint" value="4008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.Relationship_4009"
               name="%metatype.name.Relationship_4009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Relationship"
               edithelper="GGram.diagram.edit.helpers.RelationshipEditHelper">
            <param name="semanticHint" value="4009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://ggram">
         <metamodelType
               id="GGram.diagram.HasAdoptedChild_4010"
               name="%metatype.name.HasAdoptedChild_4010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HasAdoptedChild"
               edithelper="GGram.diagram.edit.helpers.HasAdoptedChildEditHelper">
            <param name="semanticHint" value="4010"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="GGram.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="GGram.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="GGram.diagram.TypeContext">
         <elementType ref="GGram.diagram.Genogram_1000"/>
         <elementType ref="GGram.diagram.Woman_2001"/>
         <elementType ref="GGram.diagram.Man_2002"/>
         <elementType ref="GGram.diagram.Engagement_4001"/>
         <elementType ref="GGram.diagram.HasChild_4002"/>
         <elementType ref="GGram.diagram.Cohabitation_4003"/>
         <elementType ref="GGram.diagram.CohabitationAndSeparation_4004"/>
         <elementType ref="GGram.diagram.Marriage_4005"/>
         <elementType ref="GGram.diagram.LoveAffair_4006"/>
         <elementType ref="GGram.diagram.Nullity_4007"/>
         <elementType ref="GGram.diagram.Divorce_4008"/>
         <elementType ref="GGram.diagram.Relationship_4009"/>
         <elementType ref="GGram.diagram.HasAdoptedChild_4010"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="GGram.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="GGram.diagram"
           properties="isURIEditorInput"
           class="GGram.diagram.part.GGramUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="GGram.diagram.resourceContent"/>
			<contentExtension pattern="GGram.diagram.domainResourceContent"/>
            <contentExtension pattern="GGram.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="GGram.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="GGram.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="GGram.diagram.navigator.GGramNavigatorContentProvider" 
            labelProvider="GGram.diagram.navigator.GGramNavigatorLabelProvider"
            icon="icons/obj16/GGramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="ggram_diagram"/>
               </and>
               <instanceof value="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="GGram.diagram.navigatorSorter" 
               class="GGram.diagram.navigator.GGramNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="ggram_diagram"/>
                  </and>
                  <instanceof value="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="GGram.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="GGram.diagram.navigator.GGramDomainNavigatorContentProvider" 
            labelProvider="GGram.diagram.navigator.GGramDomainNavigatorLabelProvider"
            icon="icons/obj16/GGramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="ggram"/>
               </and>
               <instanceof value="GGram.diagram.navigator.GGramDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="GGram.diagram.navigator.GGramDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="GGram.diagram.navigatorActionProvider"
            class="GGram.diagram.navigator.GGramNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="GGram.diagram.navigatorLinkHelper"
            class="GGram.diagram.navigator.GGramNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="GGram.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="GGram.diagram.navigator.GGramAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="GGram.diagram.part.GGramDiagramUpdateCommand"
         description="%update.diagram.description"
         id="GGram.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="GGram.diagram.updateDiagram"
         contextId="GGram.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="GGram.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="GGram.diagram.part.GGramDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="GGram.diagram.edit.parts.GenogramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="GGram.diagram.part.GGramDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="GGram.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="GGram.diagram.part.GGramDiagramEditorID"
         defaultHandler="GGram.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
